<ul>
    <% loans.forEach(loan=>{ %>
        <li>
            <a href="/loan/<%= loan._id %>" > <%= loan._id %></a> | Amount Requested ---> <%= loan.amtReq %> | Amount satified ---> <%= loan.amtSatisfied %> | Due date ---> <%= loan.dateDue.toString() %> | <button>help</button>
        </li>
    <% }) %>
</ul>